# Ignore environment files
.env

# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/

# IDE/project files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Ignore dependencies folder
python/
*.dist-info/
*.egg-info/

# Ignore local zip extractions
*.pyc

# Ignore everything in preprocessing_lambda except the zip
preprocessing_lambda/*
!preprocessing_lambda/*.zip